{% extends 'base.html.twig' %}


{% block body %}
<h1>Paramètres du compte</h1>
{% if message|length > 0 %}
	<div class="alert alert-danger">
		{{ message }}
	</div>
{% endif %}

<form method="post" class="form-1">
    <div class="form-group">
        <label><strong>Nom</strong></label>
        <input type="text" name="nom" value="{{ user.nom }}" required class="form-control">
    </div>    
    <div class="form-group">
        <label><strong>Prénom</strong></label>
        <input type="text" name="prenom" value="{{ user.prenom }}" required class="form-control">
    </div>
    <div class="form-group">
        <label><strong>Pseudo</strong></label>
        <input type="text" name="username" value="{{ user.username }}" required class="form-control">
    </div>
    <div class="form-group">
        <label><strong>Mot de passe</strong></label>
        <input type="password" name="password" value="{{ user.password }}" required class="form-control">
    </div>
    <div class="form-group">
        <label><strong>Question secrète</strong></label>
        <input type="text" name="question" value="{{ user.question }}" required class="form-control">
    </div>
    <div class="form-group">
        <label><strong>Réponse à la question secrète</strong></label>
        <input type="password" name="reponse" value="{{ user.reponse }}" required class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Envoyer</button>  
    </div>
</form> 
{% endblock %}